div(class="about-content")
  div(class="about-section shrink-margin")
    h1(class="about-title") A bit of background
    p.
      I was born in the Las Vegas area, surrounded by casinos, gambling, and
      technology. Despite my parents exposing me to computers at a young age, it
      wasn't until I was about 14 that I had done any programming. Once I tried it
      I immediately fell in love with it. Now, I write code both as a career
      and as a hobby.
  div(class="about-section shrink-margin")
    h1(class="about-title") What I'm up to
    p.
      Currently, I work in Downtown Las Vegas as a Software Engineer for Sports
      Challenge Network (previously Rolltech Inc). I write and maintain our
      front-end, back-end, and mobile code. Our products all revolve around the
      sport of bowling and people who bowl competitively. Following are a few of my
      skills.
  div(class="about-section shrink-margin")
    h2(class="about-title") Mobile
    ul
      li Android
      li Game Development
      li OpenGL ES
      li iOS comming soon...
  div(class="about-section shrink-margin")
    h2(class="about-title") Web
    ul
      li Node.js
      li JavaScript
      li HTML/CSS
      li JSON APIs
      li Handlebars
      li Less
      li Pug (previously Jade)
  div(class="about-section shrink-margin")
    h2(class="about-title") Server &amp; Desktop
    ul
      li Linux Servers
      li Scripting (bash, js, etc)
      li C/C++ and Java Apps
      li Automated Deployment and CI
      li Nginx
      li Azure and AWS
  div(class="about-section shrink-margin")
    h2(class="about-title") Other Bits
    ul
      li Git (the real MVP)
      li Databases (mostly NoSQL)
      li Okay, a bit of SQL
      li I mess with Go, PHP, C#
      li Well, I mess with most things
      li Classical Guitar 😉
