div(class="about-content")
  h1(class="about-title") I like computers.
  p.
    I'm a Las Vegas born musician who happened upon programming, and I now
    spend most of my time staring at strange text on a screen. I enjoy solving
    challenging puzzles and creating neat things.
  h2(class="about-title") Technical Translation:
  p.
    I'm a full-stack engineer with experience building mobile apps and games,
    websites, JSON APIs, and command line tools. I also often manage Linux
    servers, NoSQL and SQL databases, and some interns occasionally.
