div(class="home-content")
  h1(id="main-title") Triston Jones
  h2(id="subtitle") Full-stack Engineer
  ul(class="home-nav")
    li
      a(href="#about") About
    li
      a(href="#contact") Contact
    li
      a(href="#fun") Fun
div(class="nonstatic-logos")
  include logos.pug
