ul(class="nav", id="nav")
  li
    a(href="/") Home
  li
    a(href="/resume") Resume
  li
    a(href="/contact") Contact
  li
    a(href="/fun") Fun
  li(class="icon")
    a(href="javascript:void(0);", onclick="openNav()") &#9776;
