div(class="resume-content")
  h1(class="resume-title").
     Here are a couple links to my resume, if you're into that sort of thing.
  ul(class="resume-links")
    li
      a(href='/resume.md', download, style="display:none;") Markdown
    li
      a(href='/resume.pdf', download) PDF
    li
      a(href='/resume.txt', download) Plain-text
