extends layout.pug

block content
  div(class="home-background")
  div(id="fullpage")
    div(class="section", data-anchor="home", id="home-section")
      include includes/home.pug
    div(class="section", data-anchor="about", id="about-section")
      include includes/about.pug
    div(class="section", data-anchor="contact", id="contact-section")
      include includes/contact.pug
