extends layout.pug

block content
  div(class="home-background")
  div(id="fullpage")
    div(class="section", id="home")
      div(class="section-container")
        include includes/home.pug
    div(class="section", id="about")
      div(class="section-container")
        include includes/about.pug
    div(class="section", id="contact")
      div(class="section-container")
        include includes/contact.pug
