@import "variables";
@import "animations";

#main-title {
  font-size: 100px;
  font-weight: 200;
  color: @white;
  text-transform: uppercase;
}

#subtitle {
  font-size: 70px;
  color: @almost-white;
}

.home-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/images/vegas_background.jpg");
  z-index: -1;
}

.home-content, .resume-content, .about-content, .contact-content {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.home-content {
  top: 25%;
}

.resume-content {
  top: 10%;
  text-align: center;
  h1 {
    position: relative;
    color: @off-white;
    font-size: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      .anim-grow;
      a {
        text-decoration: none;
        font-size: 50px;
        text-transform: lowercase;
        color: @almost-white;
        padding: 0 .5em 0 .5em;
      }
    }
  }
}

.about-content {
  top: 0;
  color: @off-white;
  text-align: center;
  h1, h2 {
    position: relative;
    color: @off-white;
    font-size: 80px;
    margin-left: 5px;
    margin-right: 5px;
  }
  h1 {
    top: 5%;
  }
  p {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    color: @off-white;
  }
}

.contact-content {
  top: 5%;
  color: @off-white;
  text-align: center;
  h1 {
    position: relative;
    color: @off-white;
    font-size: 80px;
    a {
      text-decoration: none;
      color: @white;
      font-style: italic;
    }
  }
}

#home-section, #resume-section, #about-section, #contact-section {
  background-color: transparent;
}

.home-nav {
  display: inline-block;
  font-size: 32px;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    list-style: none;
    .anim-float;
  }
  a {
    text-decoration: none;
    text-transform: lowercase;
    color: @almost-white;
    padding: 0 .5em 0 .5em;
  }
}

@media all and (max-width: 1025px) {
  .home-link {
    display: none;
  }
  .about-content h1, h2 {
    font-size: 72px;
  }
  .about-content p {
    margin: 0 5px 0 5px;
  }
}

@media all and (min-width: 1025px) {
  .home-link {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 0 15px 15px;
    z-index: 100;
    a {
      position: relative;
      svg {
        width: 60px;
        height: 60px;
        .anim-grow;
      }
    }
    a::after {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .about-content p {
    margin: 0 25% 0 25%;
  }

  .resume-content ul {
    margin: 10% 0 0 0;
  }
}

.home-logos {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 0 1% 0;
  display: inline-block;
  text-align: center;
  z-index: 5;
  a {
    position: relative;
  }
  a::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.svg-logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  .anim-float;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: @almost-white !important;
}
