@import "variables";
@import "animations";

#main-title {
  font-size: 100px;
  font-weight: 200;
  color: @white;
  text-transform: uppercase;
}

#subtitle {
  font-size: 70px;
  color: @almost-white;
}

.home-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/images/vegas_background.jpg");
  z-index: -1;
}

#home-section, #resume-section, #about-section, #contact-section {
  background-color: transparent;
}

.home-content, .resume-content, .about-content, .contact-content {
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.resume-content {
  h1 {
    position: relative;
    color: @off-white;
    font-size: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      .anim-grow;
      a {
        text-decoration: none;
        font-size: 50px;
        text-transform: lowercase;
        color: @almost-white;
        padding: 0 .5em 0 .5em;
      }
    }
  }
}

.about-content {
  color: @off-white;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 1%;
  .about-section {
    display: inline-table;
    position: relative;
    padding: 20px;
    margin: 30px;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .about-title, .about-title-white {
      position: relative;
      font-size: 80px;
      font-weight: 300;
      margin-left: 5px;
      margin-right: 5px;
    }
    .about-title {
      color: @black;
    }
    .about-title-white {
      color: @white;
    }
    p {
      text-indent: 50px;
      text-align: left;
      position: relative;
      font-size: 32px;
      font-weight: 300;
      color: @almost-black;
    }
    ul {
      position: relative;
      text-align: center;
      display: block;
      color: @almost-black;
      width: 100%;
      padding: 0;
      li {
        display: inline-block;
        color: @almost-black;
        font-size: 32px;
        font-weight: 300;
        padding: 0 .2em;
        &:before {
          content: '\00a0\2022\00a0\00a0';
          color: @almost-black;
          font-size: 30px;
        }
        &:first-child:before {
          content: '';
        }
      }
    }
  }
  .about-section {
    .card;
  }
}

.contact-content {
  color: @off-white;
  text-align: center;
  h1 {
    position: relative;
    color: @off-white;
    font-size: 80px;
    font-weight: 400;
    word-break: break-word;
    a {
      text-decoration: none;
      color: @white;
      font-weight: 400;
      font-style: italic;
    }
  }
}

.home-nav {
  display: block;
  font-size: 32px;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    list-style: none;
    .anim-float;
  }
  a {
    text-decoration: none;
    text-transform: lowercase;
    color: @almost-white;
    padding: 0 .5em 0 .5em;
  }
}

@media all and (max-width: 1025px) {
  .home-link {
    display: none;
  }
  #home-next {
    display: none;
  }
  .about-section {
    display: block;
    margin: 2.5%;
  }
}

@media all and (min-width: 1025px) {
  .home-link {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 0 15px 15px;
    z-index: 100;
    .svg-link;
    a svg {
      width: 60px;
      height: 60px;
      .anim-grow;
    }
  }
  .resume-content ul {
    margin: 10% 0 0 0;
  }
  #home-next {
    display: block;
    text-align: center;
    position: relative;
    margin: 200px 0 0 0;
    .svg-link;
    svg {
      width: 120px;
      height: 120px;
      .anim-bob;
    }
  }
  .about-section {
    display: inline-block;
    width: 825px;
    height: 455px;
  }
}

.svg-link {
  a {
    position: relative;
  }
  a::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.svg-logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  .anim-float;
}

.nonstatic-logos {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin-bottom: 1%;
}

.card {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: @almost-white !important;
}
