@import "variables";
@import "animations";

#main-title {
  font-size: 100px;
  font-weight: 200;
  color: @white;
  text-transform: uppercase;
}

#subtitle {
  font-size: 70px;
  color: @almost-white;
}

.home-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/images/vegas_background.jpg");
  z-index: -1;
}

.home-content, .resume-content, .about-content {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.home-content {
  top: 25%;
}

.resume-content {
  top: 30%;
}

.about-content {
  top: 0;
}

.about-content {
  color: @off-white;
  text-align: center;
  h1, h2 {
    position: relative;
    color: @off-white;
    font-size: 80px;
    margin-left: 5px;
    margin-right: 5px;
  }
  h1 {
    top: 5%;
  }
  p {
    position: relative;
    font-size: 32px;
    font-weight: 400;
    color: @off-white;
  }
}

#home-section, #resume-section, #about-section {
  background-color: transparent;
}

.home-logos {
  position: fixed;
  top: 90%;
  width: 100%;
  display: inline-block;
  text-align: center;
  a {
    position: relative;
  }
  a::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.home-nav {
  display: inline-block;
  font-size: 32px;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    list-style: none;
    .anim-float;
  }
  a {
    text-decoration: none;
    text-transform: lowercase;
    color: @almost-white;
    padding: 0 .5em 0 .5em;
  }
}

.svg-logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  .anim-float;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: @almost-white !important;
}

@media all and (max-width: 1025px) {
  .home-link {
    display: none;
  }
  .about-content h1, h2 {
    font-size: 72px;
  }
  .about-content p {
    margin: 0 5px 0 5px;
  }
}

@media all and (min-width: 1025px) {
  .home-link {
    display: block;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 97%;
    padding: 0;
    margin: 0;
    a {
      text-decoration: none;
      color: @white;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      .anim-grow;
    }
  }

  .about-content p {
    margin: 0 25% 0 25%;
  }
}
