// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');

// Colors
@primary-color: #1AF6F0;
@blue-grey: #455A64;
@dark-blue-grey: #233842;
@white: #FFFFFF;
@almost-white: #F8F8F8;
@off-white: #BBBBBB;
@black: #000000;
@almost-black: #222222;
